/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-413 {
        padding: var(--sectionPadding);
        /* clips svg as the screen grows so it doesn't overflow */
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    #sbsr-413 .cs-container {
        width: 100%;
        /* changes to 1280 at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 108px */
        gap: clamp(3rem, 7.1vw, 6.75rem);
    }
    #sbsr-413 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 33.875rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #sbsr-413 .cs-text {
        margin-bottom: 1rem;
    }
    #sbsr-413 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #sbsr-413 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #sbsr-413 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #sbsr-413 .cs-button-solid:hover:before {
        width: 100%;
    }
    #sbsr-413 .cs-image-group {
        font-size: min(2.5vw, 1em);
        width: 36.1875em;
        height: 33.875em;
        /* sends it to the top of the flexbox */
        order: -1;
        position: relative;
    }
    #sbsr-413 .cs-picture {
        border-radius: 1.25em;
        /* clips the img tag corners */
        overflow: hidden;
        position: absolute;
        display: block;
    }
    #sbsr-413 .cs-picture:hover:before {
        opacity: 0.6;
    }
    #sbsr-413 .cs-picture:hover img {
        transform: scale(1.1);
    }
    #sbsr-413 .cs-picture:before {
        /* Hover Box */
        content: "";
        width: 100%;
        height: 100%;
        background: var(--primary);
        opacity: 0;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 10;
        transition: opacity 0.3s;
    }
    #sbsr-413 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.6s;
    }
    #sbsr-413 .cs-picture1 {
        width: 12.75em;
        height: 19.625em;
        top: 0;
        left: 0;
    }
    #sbsr-413 .cs-picture2 {
        width: 21.75em;
        height: 19.625em;
        top: 0;
        right: 0;
    }
    #sbsr-413 .cs-picture3 {
        width: 36.1875em;
        height: 12.625em;
        bottom: 0;
        left: 0;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-413 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    #sbsr-413 .cs-content {
        width: 48%;
    }
    #sbsr-413 .cs-image-group {
        font-size: min(1.15vw, 1em);
        flex: none;
        /* sends it to the right in the 2nd position */
        order: 2;
    }
}

