/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-1361 {
        padding: var(--sectionPadding);
        /* 370px - 445px */
        padding-top: clamp(23.125rem, 30vw, 29.375rem);
        position: relative;
        z-index: 1;
    }
    #stats-1361 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #stats-1361 .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    #stats-1361 .cs-item {
        list-style: none;
        text-align: center;
        grid-column: span 12;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        gap: 1rem;
        position: relative;
    }
    #stats-1361 .cs-item:last-of-type:after {
        display: none;
    }
    #stats-1361 .cs-item:after {
        /* grey lines */
        content: "";
        width: 100%;
        height: 1px;
        margin: 1.5rem 0;
        background: #484848;
        opacity: 1;
        position: relative;
        display: block;
    }
    #stats-1361 .cs-header {
        font-size: 1rem;
        line-height: 1.2em;
        font-weight: 700;
        margin: 0;
        color: #fff;
        display: block;
    }
    #stats-1361 .cs-number {
        /* 72px - 100px */
        font-size: clamp(4.5rem, 10vw, 6.25rem);
        line-height: 1em;
        font-weight: 300;
        margin: 0;
        color: var(--primary);
        display: block;
    }
    #stats-1361 .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #stats-1361 .cs-background:before {
        /* background color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #1a1a1a;
        opacity: 0.72;
        top: 0;
        left: 0;
        z-index: 1;
    }
    #stats-1361 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #stats-1361 .cs-card-group {
        row-gap: 2.5rem;
    }
    #stats-1361 .cs-item {
        grid-column: span 6;
    }
    #stats-1361 .cs-item:nth-of-type(2):after {
        display: none;
    }
    #stats-1361 .cs-item:after {
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #stats-1361 {
        /* clips the lines on the cs-items so we can make them 100% the height of the section */
        overflow: hidden;
    }
    #stats-1361 .cs-item {
        grid-column: span 3;
    }
    #stats-1361 .cs-item:nth-of-type(2):after {
        display: block;
    }
    #stats-1361 .cs-item:after {
        /* make them really tall to cover the height of the section */
        height: 200vw;
        top: auto;
        /* send them below so the lines at least overflow the section container */
        bottom: -18.75rem;
    }
}
/* Large Desktop 1600px - Parallax Effect */
@media only screen and (min-width: 100rem) {
    #stats-1361 .cs-background {
        background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting6.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    #stats-1361 .cs-background img {
        display: none;
    }
}

