/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1455 {
      padding: var(--sectionPadding);
    }
    #reviews-1455 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #reviews-1455 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }
    #reviews-1455 .cs-card-group {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* 16px - 20px */
      gap: clamp(1rem, 2.5vw, 1.25rem);
    }
    #reviews-1455 .cs-item {
      list-style: none;
      width: 100%;
      max-width: 39.375rem;
      /* 20px - 40px top & bottom */
      /* 20px - 40px left & right */
      padding: clamp(1.25rem, 3.15vw, 2.5rem) clamp(1.25rem, 3.15vw, 2.5rem);
      background-color: #f7f7f7;
      border-radius: 1rem;
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
    }
    #reviews-1455 .cs-quote {
      /* 48px - 72px */
      width: clamp(3rem, 6vw, 4.5rem);
      height: auto;
      margin-bottom: 2rem;
    }
    #reviews-1455 .cs-review {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.6vw, 1rem);
      line-height: 1.5em;
      margin: 0;
      /* 20px - 40px */
      margin-bottom: clamp(1.25rem, 3vw, 2.5rem);
      color: var(--bodyTextColor);
    }
    #reviews-1455 .cs-flex-group {
      /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
      margin-top: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.75rem;
    }
    #reviews-1455 .cs-profile {
      width: 3.125rem;
      height: auto;
      border-radius: 50%;
      /* clips image corners to make circle */
      overflow: hidden;
      position: relative;
      display: block;
    }
    #reviews-1455 .cs-profile img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* makes the image behave like a background image */
      object-fit: cover;
    }
    #reviews-1455 .cs-name {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2.3vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
      margin-top: auto;
      color: var(--headerColor);
      display: block;
    }
    #reviews-1455 .cs-job {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.6vw, 1rem);
      line-height: 1.5em;
      font-weight: 400;
      margin: 0;
      color: var(--bodyTextColor);
      display: block;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #reviews-1455 .cs-card-group {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
  }
  